[Unit]
Description=OBE C-100 Encoder Master %i
After=obe-agent.service

[Service]
Type=simple
WorkingDirectory=/opt/obe-c100
ExecStart=/opt/obe-c100/bin/obed %i
Restart=always

[Install]
WantedBy=multi-user.target
