Source: obed
Section: unknown
Priority: extra
Maintainer: Open Broadcast Systems Ltd <support@obe.tv>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/obed.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/obed.git;a=summary

Package: obed
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libtwolame0, libzvbi0, ttf-droid
Description: OBE D-100 daemon
